.main{
    margin-top: 30vh;
    margin-left: 34vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    /* -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border: 1px solid black; */
    width: 380px;
    padding: 10px;
    border-radius: 8px;
    
}

#value{
    margin-left: 13.5vw;
    margin-bottom: 40px;
    font-size: 80px;
}
h1{
    margin-left: 105px;
    font-size: 50px;
}

.btn{
    font-size: 25px;
    margin: 5px;
    border-radius: 3px;

}

.btn:hover{
    background-color: rgb(92, 92, 92);
    color: white;

}

.buttons{
    margin-left: 20px;
}